### Extract

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('Industry_migration.xlsx')

In [ ]:
print(df.dtypes)

country_code           object
country_name           object
wb_income              object
wb_region              object
isic_section_index     object
isic_section_name      object
industry_id             int64
industry_name          object
net_per_10K_2015      float64
net_per_10K_2016      float64
net_per_10K_2017      float64
net_per_10K_2018      float64
net_per_10K_2019      float64
dtype: object

### Change the 10K to original number of migration of each year

In [ ]:
df['industry_migration_2015'] = df['net_per_10K_2015']
df['industry_migration_2016'] = df['net_per_10K_2016'] 
df['industry_migration_2017'] = df['net_per_10K_2017']
df['industry_migration_2018'] = df['net_per_10K_2018']
df['industry_migration_2019'] = df['net_per_10K_2019']
df = df.drop(['net_per_10K_2015', 'net_per_10K_2016', 'net_per_10K_2017', 'net_per_10K_2018', 'net_per_10K_2019'], axis=1)
df

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,industry_migration_2015,industry_migration_2016,industry_migration_2017,industry_migration_2018,industry_migration_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5290,zw,Zimbabwe,Low income,Sub-Saharan Africa,B,Mining and quarrying,56,Mining & Metals,257.36,187.70,-17.45,70.60,-18.30
5291,zw,Zimbabwe,Low income,Sub-Saharan Africa,P,Education,68,Higher Education,190.84,50.76,-68.74,-234.59,-304.36
5292,zw,Zimbabwe,Low income,Sub-Saharan Africa,O,Public administration and defence; compulsory ...,74,International Affairs,25.23,-46.12,214.29,311.03,-55.88
5293,zw,Zimbabwe,Low income,Sub-Saharan Africa,J,Information and communication,96,Information Technology & Services,46.65,35.93,-142.64,-108.16,-213.82
5294,zw,Zimbabwe,Low income,Sub-Saharan Africa,S,Other service activities,100,Non-Profit Organization Management,133.56,88.48,6.96,-39.32,-92.51

Drop the original columns and rename the new columns and compute the industry migration rate from 2015 to 2019

Check for null values

In [ ]:
df.isnull().sum()

country_code               0
country_name               0
wb_income                  0
wb_region                  0
isic_section_index         0
isic_section_name          0
industry_id                0
industry_name              0
industry_migration_2015    0
industry_migration_2016    0
industry_migration_2017    0
industry_migration_2018    0
industry_migration_2019    0
dtype: int64

#### Add the isic_group name to the industry migration 
Input the isic csv file

In [ ]:
df_isic = pd.read_csv('linkedin_to_isic_rev_4_industry_mapping_0.csv')

In [ ]:
df_isic.dtypes

isic_section           object
isic_section_name      object
isic_division           int64
isic_division_name     object
industry_sk             int64
industry_name          object
Industry_group_sk       int64
Industry_group_name    object
dtype: object

Drop the columns that are not needed

In [ ]:
df_isic = df_isic.drop(columns=['isic_section_name','isic_division','isic_division_name','industry_sk','isic_section'])

### Tranform
Change the df_isic industry_name same as df industry_name

In [ ]:
df_isic['industry_name'] = df_isic['industry_name'].str.title()
df_isic[:10]

            industry_name  Industry_group_sk Industry_group_name
0                 Farming                  1         Agriculture
1                Ranching                  1         Agriculture
2                   Dairy                  1         Agriculture
3                 Fishery                  1         Agriculture
4         Mining & Metals                 16   Energy and Mining
5            Oil & Energy                 16   Energy and Mining
6       Defense And Space                 10       Manufacturing
7         Pharmaceuticals                 12          Healthcare
8         Food Production                 10       Manufacturing
9  Aviation And Aerospace                 10       Manufacturing

Merge the isic_group name to the industry migration

In [ ]:
result = pd.merge(df, df_isic, on='industry_name' , how='left')
result

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,industry_migration_2015,industry_migration_2016,industry_migration_2017,industry_migration_2018,industry_migration_2019,Industry_group_sk,Industry_group_name
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55,NaN,NaN
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22,19.0,Hardware & Netwoking
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41,8.0,Software & IT Services
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07,19.0,Hardware & Netwoking
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40,8.0,Software & IT Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5290,zw,Zimbabwe,Low income,Sub-Saharan Africa,B,Mining and quarrying,56,Mining & Metals,257.36,187.70,-17.45,70.60,-18.30,16.0,Energy and Mining
5291,zw,Zimbabwe,Low income,Sub-Saharan Africa,P,Education,68,Higher Education,190.84,50.76,-68.74,-234.59,-304.36,6.0,Education
5292,zw,Zimbabwe,Low income,Sub-Saharan Africa,O,Public administration and defence; compulsory ...,74,International Affairs,25.23,-46.12,214.29,311.03,-55.88,20.0,Public Administration
5293,zw,Zimbabwe,Low income,Sub-Saharan Africa,J,Information and communication,96,Information Technology & Services,46.65,35.93,-142.64,-108.16,-213.82,NaN,NaN
5294,zw,Zimbabwe,Low income,Sub-Saharan Africa,S,Other service activities,100,Non-Profit Organization Management,133.56,88.48,6.96,-39.32,-92.51,13.0,Nonprofit

Drop the null values

In [ ]:
result = result.dropna()
result

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,industry_migration_2015,industry_migration_2016,industry_migration_2017,industry_migration_2018,industry_migration_2019,Industry_group_sk,Industry_group_name
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22,19.0,Hardware & Netwoking
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41,8.0,Software & IT Services
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07,19.0,Hardware & Netwoking
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40,8.0,Software & IT Services
5,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,8,Telecommunications,676.91,676.11,365.96,283.59,281.91,19.0,Hardware & Netwoking
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5289,zw,Zimbabwe,Low income,Sub-Saharan Africa,M,Professional scientific and technical activities,47,Accounting,-62.67,-118.51,-108.31,-220.21,-194.89,5.0,Corporate Services
5290,zw,Zimbabwe,Low income,Sub-Saharan Africa,B,Mining and quarrying,56,Mining & Metals,257.36,187.70,-17.45,70.60,-18.30,16.0,Energy and Mining
5291,zw,Zimbabwe,Low income,Sub-Saharan Africa,P,Education,68,Higher Education,190.84,50.76,-68.74,-234.59,-304.36,6.0,Education
5292,zw,Zimbabwe,Low income,Sub-Saharan Africa,O,Public administration and defence; compulsory ...,74,International Affairs,25.23,-46.12,214.29,311.03,-55.88,20.0,Public Administration
5294,zw,Zimbabwe,Low income,Sub-Saharan Africa,S,Other service activities,100,Non-Profit Organization Management,133.56,88.48,6.96,-39.32,-92.51,13.0,Nonprofit

In [ ]:
# Clean up
result['country_name'] = result['country_name'].str.strip().str.lower()
result['industry_name'] = result['industry_name'].str.strip().str.lower()
result['wb_income'] = result['wb_income'].str.strip().str.lower()
result['wb_region'] = result['wb_region'].str.strip().str.lower()
result['isic_section_name'] = result['isic_section_name'].str.strip().str.lower()
result['Industry_group_name'] = result['Industry_group_name'].str.strip().str.lower()
result['isic_section_index'] = result['isic_section_index'].str.strip().str.lower()



#chane & to and in industry name
result['industry_name'] = result['industry_name'].str.replace('&','and')
result['wb_region'] = result['wb_region'].str.replace('&','and')
result['Industry_group_name'] = result['Industry_group_name'].str.replace('&','and')

In [ ]:
result

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,industry_migration_2015,industry_migration_2016,industry_migration_2017,industry_migration_2018,industry_migration_2019,Industry_group_sk,Industry_group_name
1,ae,united arab emirates,high income,middle east and north africa,j,information and communication,3,computer hardware,100.97,358.14,112.98,149.57,182.22,19.0,hardware and netwoking
2,ae,united arab emirates,high income,middle east and north africa,j,information and communication,4,computer software,1079.36,848.15,596.48,409.18,407.41,8.0,software and it services
3,ae,united arab emirates,high income,middle east and north africa,j,information and communication,5,computer networking,401.46,447.39,163.99,236.69,188.07,19.0,hardware and netwoking
4,ae,united arab emirates,high income,middle east and north africa,j,information and communication,6,internet,1840.33,1368.42,877.71,852.39,519.40,8.0,software and it services
5,ae,united arab emirates,high income,middle east and north africa,j,information and communication,8,telecommunications,676.91,676.11,365.96,283.59,281.91,19.0,hardware and netwoking
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5289,zw,zimbabwe,low income,sub-saharan africa,m,professional scientific and technical activities,47,accounting,-62.67,-118.51,-108.31,-220.21,-194.89,5.0,corporate services
5290,zw,zimbabwe,low income,sub-saharan africa,b,mining and quarrying,56,mining and metals,257.36,187.70,-17.45,70.60,-18.30,16.0,energy and mining
5291,zw,zimbabwe,low income,sub-saharan africa,p,education,68,higher education,190.84,50.76,-68.74,-234.59,-304.36,6.0,education
5292,zw,zimbabwe,low income,sub-saharan africa,o,public administration and defence; compulsory ...,74,international affairs,25.23,-46.12,214.29,311.03,-55.88,20.0,public administration
5294,zw,zimbabwe,low income,sub-saharan africa,s,other service activities,100,non-profit organization management,133.56,88.48,6.96,-39.32,-92.51,13.0,nonprofit

# **Fact Table :  We will now prepare the dataframe that will be used to create the fact table from the result dataframe**

In [ ]:
years = result[["industry_migration_2015","industry_migration_2016","industry_migration_2017",	"industry_migration_2018"	,"industry_migration_2019"]]

yearsint = [2015,2016,2017,2018,2019]

In [ ]:
fact = pd.DataFrame()
for index, row in result.iterrows():
    
    for year, name in zip(yearsint, years.columns):

      temp = row
      temp['year'] = year
      temp['industry_migration'] = years.loc[index, name]
      
      
      fact = fact.append(temp, ignore_index=True)

In [ ]:
fact= fact[['country_name','industry_name','year','industry_migration']]
display(fact)

,country_name,industry_name,year,industry_migration
0,united arab emirates,computer hardware,2015,100.97
1,united arab emirates,computer hardware,2016,358.14
2,united arab emirates,computer hardware,2017,112.98
3,united arab emirates,computer hardware,2018,149.57
4,united arab emirates,computer hardware,2019,182.22
...,...,...,...,...
21155,zimbabwe,non-profit organization management,2015,133.56
21156,zimbabwe,non-profit organization management,2016,88.48
21157,zimbabwe,non-profit organization management,2017,6.96
21158,zimbabwe,non-profit organization management,2018,-39.32
21159,zimbabwe,non-profit organization management,2019,-92.51

In [ ]:
fact.to_csv('fact_industry_migration.csv', index=True)

# **Industry Dimension : we will now create the dataframe that will be used to create the industry dimension**

In [ ]:
grouped = result.groupby(['industry_id', 'industry_name'])[["industry_migration_2015", "industry_migration_2016", "industry_migration_2017", "industry_migration_2018", "industry_migration_2019"]].agg(['mean', 'median'])
grouped.columns = grouped.columns.map('_'.join)

grouped = grouped.reset_index()

display(grouped)

,industry_id,industry_name,industry_migration_2015_mean,industry_migration_2015_median,industry_migration_2016_mean,industry_migration_2016_median,industry_migration_2017_mean,industry_migration_2017_median,industry_migration_2018_mean,industry_migration_2018_median,industry_migration_2019_mean,industry_migration_2019_median
0,3,computer hardware,41.293077,40.400,49.323846,38.630,76.588462,55.720,45.841538,43.630,64.031538,38.310
1,4,computer software,88.915238,52.270,79.935000,59.265,40.293095,8.995,42.529048,21.065,-13.520595,-12.415
2,5,computer networking,107.741053,88.030,135.490000,123.750,97.912105,117.210,96.998421,154.470,83.589474,76.850
3,6,internet,223.364110,149.680,182.963151,120.030,136.965342,68.990,88.467123,51.160,10.061233,-5.440
4,7,semiconductors,42.195000,31.105,64.417143,34.550,64.166786,13.525,32.497500,5.720,11.135000,-16.145
...,...,...,...,...,...,...,...,...,...,...,...,...
108,136,photography,77.189167,21.120,44.193333,38.875,37.885833,16.665,18.499167,10.890,33.296667,48.975
109,139,mental health care,62.138571,42.060,90.615714,79.460,68.281429,56.650,69.457143,65.370,38.254286,27.440
110,140,graphic design,47.130000,33.195,29.938750,34.915,49.935000,41.995,32.990000,34.830,37.755000,30.805
111,147,industrial automation,99.538438,60.510,95.841250,42.160,58.899687,55.200,88.725313,52.335,54.913750,21.230
112,148,government relations,108.678889,47.215,59.645556,23.385,75.790000,46.100,55.227778,1.080,31.223333,32.510

In [ ]:
industry = result.drop(columns=['country_code','country_name','wb_income','wb_region','industry_migration_2015','industry_migration_2016','industry_migration_2017','industry_migration_2018','industry_migration_2019'])
display(industry)

In [ ]:
# Remove duplicates
industry = industry.drop_duplicates().reset_index(drop=True)

In [ ]:
industry = industry.drop(columns=['industry_id'])

In [ ]:
industry_dimension = pd.merge(industry, grouped, on='industry_name' , how='left')

In [ ]:
industry_dimension

,isic_section_index,isic_section_name,industry_name,Industry_group_sk,Industry_group_name,industry_id,industry_migration_2015_mean,industry_migration_2015_median,industry_migration_2016_mean,industry_migration_2016_median,industry_migration_2017_mean,industry_migration_2017_median,industry_migration_2018_mean,industry_migration_2018_median,industry_migration_2019_mean,industry_migration_2019_median
0,j,information and communication,computer hardware,19.0,hardware and netwoking,3,41.293077,40.400,49.323846,38.630,76.588462,55.720,45.841538,43.630,64.031538,38.310
1,j,information and communication,computer software,8.0,software and it services,4,88.915238,52.270,79.935000,59.265,40.293095,8.995,42.529048,21.065,-13.520595,-12.415
2,j,information and communication,computer networking,19.0,hardware and netwoking,5,107.741053,88.030,135.490000,123.750,97.912105,117.210,96.998421,154.470,83.589474,76.850
3,j,information and communication,internet,8.0,software and it services,6,223.364110,149.680,182.963151,120.030,136.965342,68.990,88.467123,51.160,10.061233,-5.440
4,j,information and communication,telecommunications,19.0,hardware and netwoking,8,14.634615,2.405,-9.259615,10.850,-27.346827,-4.440,-23.251250,-4.190,-22.044519,-21.265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,c,manufacturing,railroad manufacture,10.0,manufacturing,62,53.596000,-6.680,61.236000,48.140,29.224000,33.280,6.764000,14.340,0.544000,10.130
109,o,public administration and defence; compulsory ...,legislative office,20.0,public administration,72,-19.380000,-19.380,-6.740000,-6.740,9.740000,9.740,-16.340000,-16.340,-1.270000,-1.270
110,r,"arts, entertainment and recreation",libraries,13.0,nonprofit,85,12.910000,12.910,15.980000,15.980,6.090000,6.090,4.020000,4.020,4.020000,4.020
111,h,transportation and storage,warehousing,15.0,transportation and logistics,93,-4.420000,-4.420,5.900000,5.900,11.110000,11.110,-1.600000,-1.600,-1.460000,-1.460
112,m,professional scientific and technical activities,nanotechnology,19.0,hardware and networking,114,39.930000,39.930,20.240000,20.240,50.170000,50.170,14.620000,14.620,20.840000,20.840

In [ ]:
industry_dimension['surrogate keys'] = range(1,len(industry_dimension)+1)

In [ ]:
industry_dimension

,isic_section_index,isic_section_name,industry_name,Industry_group_sk,Industry_group_name,industry_id,industry_migration_2015_mean,industry_migration_2015_median,industry_migration_2016_mean,industry_migration_2016_median,industry_migration_2017_mean,industry_migration_2017_median,industry_migration_2018_mean,industry_migration_2018_median,industry_migration_2019_mean,industry_migration_2019_median,surrogate keys
0,j,information and communication,computer hardware,19.0,hardware and netwoking,3,41.293077,40.400,49.323846,38.630,76.588462,55.720,45.841538,43.630,64.031538,38.310,1
1,j,information and communication,computer software,8.0,software and it services,4,88.915238,52.270,79.935000,59.265,40.293095,8.995,42.529048,21.065,-13.520595,-12.415,2
2,j,information and communication,computer networking,19.0,hardware and netwoking,5,107.741053,88.030,135.490000,123.750,97.912105,117.210,96.998421,154.470,83.589474,76.850,3
3,j,information and communication,internet,8.0,software and it services,6,223.364110,149.680,182.963151,120.030,136.965342,68.990,88.467123,51.160,10.061233,-5.440,4
4,j,information and communication,telecommunications,19.0,hardware and netwoking,8,14.634615,2.405,-9.259615,10.850,-27.346827,-4.440,-23.251250,-4.190,-22.044519,-21.265,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,c,manufacturing,railroad manufacture,10.0,manufacturing,62,53.596000,-6.680,61.236000,48.140,29.224000,33.280,6.764000,14.340,0.544000,10.130,109
109,o,public administration and defence; compulsory ...,legislative office,20.0,public administration,72,-19.380000,-19.380,-6.740000,-6.740,9.740000,9.740,-16.340000,-16.340,-1.270000,-1.270,110
110,r,"arts, entertainment and recreation",libraries,13.0,nonprofit,85,12.910000,12.910,15.980000,15.980,6.090000,6.090,4.020000,4.020,4.020000,4.020,111
111,h,transportation and storage,warehousing,15.0,transportation and logistics,93,-4.420000,-4.420,5.900000,5.900,11.110000,11.110,-1.600000,-1.600,-1.460000,-1.460,112
112,m,professional scientific and technical activities,nanotechnology,19.0,hardware and networking,114,39.930000,39.930,20.240000,20.240,50.170000,50.170,14.620000,14.620,20.840000,20.840,113

In [ ]:
industry_dimension.to_csv("Industry_dimension.csv")